.leaderboard {
  margin-top: 5rem;
  cursor: default;
  .card {
    width: 100%;
  }
  .grid {
    .header {
      margin-top: 1.75rem !important;
    }
    .row {
      .column {
        display: flex;
        align-items: center;
        justify-content: center;
      }

      .user {
        text-align: center;

        img {
          width: 64px;
          height: 64px;
          border-radius: 100%;
        }

        span {
          margin: 0 auto;
          max-width: 50%;
        }
      }
    }
  }
}
